# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
# 在 .gitignore 文件中，每一行的忽略规则的语法如下：
# 空格不匹配任意文件，可作为分隔符，可用反斜杠转义
# # 开头的文件标识注释，可以使用反斜杠进行转义
# ! 开头的模式标识否定，该文件将会再次被包含，如果排除了该文件的父级目录，则使用 ! 也不会再次被包含。可以使用反斜杠进行转义
# / 结束的模式只匹配文件夹以及在该文件夹路径下的内容，但是不匹配该文件
# / 开始的模式匹配项目跟目录
# 如果一个模式不包含斜杠，则它匹配相对于当前 .gitignore 文件路径的内容，如果该模式不在 .gitignore 文件中，则相对于项目根目录
# ** 匹配多级目录，可在开始，中间，结束
# ? 通用匹配单个字符
# [] 通用匹配单个字符列表
# =============解决文件已经添加无法排除============= #
# git rm -r --cached .
# git add .
# git commit -m "fixed untracked files"
# =============解决文件已经添加无法排除============= #

/node_modules/
/yarn.lock
/.idea
/.history
/box.dat
/CookieSet.json
/jdCookie.js
/logs
/JD_DailyBonus.js
/result.txt